/*-----------------------------------------------------------------------------
version:   1.0
date:      01/03/07
author:    Takumi
version history: [location of file]
@import url("typography.css");
 */
$project-font: "M PLUS 1p", ‘ヒラギノ角ゴシック’, ‘メイリオ’ ,sans-serif;
$navy: #2D3142;
$blue: #4F5D75;
$grey: #8a8a8a;
$white: #eceff1;
$orange: #EF8354;

/* Remove padding and margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:  $project-font;
    background: $white;
    color: $grey;
    background-size: cover;
    text-decoration: none;

}
.bg-img{

}

.brand-logo{
    font-family: 'Major Mono Display', sans-serif;
}

.logo{
    width: 5%;
    margin: .5%;
    vertical-align: top;
}

.menu {

    p {
        padding: 0;
        display: inline-block;
        margin: 0 100px 0 0;
    }

}


.home{

    h1{
        color: darken($grey, 15%);
    }
    .signup-btn{
        padding: 20%;
        text-align: center;
    }
}