    {% extends 'base.html' %}
    {%load static%}

    {% block title %}Macy | アカウント情報{% endblock %}
    {% block content %}

        <h3>アカウント情報</h3>
        <div class="account">
            <div class="account-info">
                <div class="label">
                    <p>プロファイル画像: </p>
                    <p>ヘッダー画像: </p>
                    <br />
                    <p>ユーザーネーム: </p>
                    <p>メール: </p>
                    <p>最終ログイン日: </p>
                    <p>加入した日: </p>
                    <p>紹介文: </p>
                    <p>紐づいたリンク:</p>
                </div>
                <div class="user-info">
                    {% if user.profile %}
                        <p><img alt="" class="" src='{{ MEDIA_URL }}{{user.profile}}' height='50px'></p>
                    {% else %}
                        <p>プロファイル画像は設定されていません</p>
                    {% endif %}
                    {% if user.header %}
                        <p><img alt="" class="" src='{{ MEDIA_URL }}{{user.header}}' height="50px"></p>
                    {% else %}
                        <p>ヘッダー画像は設定されていません</p>
                    {% endif %}
                    <div class="img-delete">
                        <a class="waves-effect waves-light btn-large" href="{% url 'delete_profile' id=user.user_id %}">プロファイル画像削除</a>
                        <a class="waves-effect waves-light btn-large" href="{% url 'delete_header' id=user.user_id %}">ヘッダー画像削除</a>
                    </div>
                    <p>{{ user.username }}</p>
                    <p>{{ user.email }}</p>
                    <p>{{ user.last_login }}</p>
                    <p>{{ user.date_joined }}</p>
                    <p>{{ user.intro }}</p>
                    <p>{{ user.is_direct }}</p>
                    <p>{{ user.direct_link }}</p>

                    <ul>

                    {% for links in user.links_set.all %}
                        {% with 'Macy/img/'|add:links.media_choice|add:'.png' as image_static %}
                        <li>
                            <img class="logo" alt="" src="{% static image_static %}"/>
                            <a href="{{ links.link }}">{{ links.link }}</a>
                            <p>{{ links.account_id }}</p>
                        </li>
                        {% endwith %}
                    {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="collection">

                    <a class="collection-item" href="{% url 'delete' id=user.user_id %}">
                        <span class="material-icons">
                            delete_forever
                        </span>アカウント削除</a>

                    <a class="collection-item" href="{% url 'password_change' id=user.user_id %}">
                        <span class="material-icons">
                            password
                        </span>パスワード変更</a>


                    <a class="collection-item" href="{% url 'edit' id=user.user_id %}">
                        <span class="material-icons">
                            create
                        </span>アカウント情報変更</a>


                    <a class="collection-item {% if user.is_direct %} direct_on {% endif %}" href="{% url 'is_direct' id=user.user_id %}">

                        <span class="material-icons">
                            ios_share
                        </span>Directモード</a>


            </div>
        </div>
    {% endblock %}
