{% extends 'base.html' %}

{% block title %}Macy | アカウント情報{% endblock %}
{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h3>アカウント情報</h3>
    <div class="account">
        <div class="label">
            <p>ユーザーネーム: </p>
            <p>最後にログインした日時: </p>
            <p>加入した日: </p>
            <p>ユーザーID: </p>
        </div>
        <div class="user-info">
            <p>{{ user.username }}</p>
            <p>{{ user.last_login }}</p>
            <p>{{ user.date_joined }}</p>

            <p>{{ user.my_id }}</p>
        </div>
        <div class="edit">
            <a class="waves-effect waves-light btn-large" href="{% url 'delete' slug=user.slug %}">アカウント削除</a>
        </div>
        <div class="password_reset">
            <a class="waves-effect waves-light btn-large" href="{% url 'password_change' pk=user.id %}">パスワード変更</a>
        </div>
    </div>
{% endblock %}