{% extends 'base.html' %}
{% load static %}
{% block title %}Macy | 編集{% endblock %}
{% block content %}
    <h3>ユーザー編集</h3>
    <div class="edit">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
           <table>
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    <p>{{ field.help_text }}</p>
                    <br/>
                    {{ field.errors }}
                {% endfor %}
                <thead>
                    {{ links_form.management_form }}
                    {% for form in links_form.forms %}
                        {% if forloop.first %}
                            <th><label>SNS:</label></th>
                            <th><label>リンクURL:</label></th>
                            <th><label>ユーザーID:</label></th>
                            <th><label>削除:</label></th>
                            <!--{% for field in form.visible_fields %}
                                <th>{{ field.label_tag }}</th>
                            {% endfor %}-->
                        {% endif %}

                </thead>
                <tbody>
                        <tr>
                            {% for field in form.visible_fields %}

                                {% if forloop.last %}

                                    <td><label>{{ field }}<span> </span></label></td>
                                {% else %}
                                    <td>{{ field }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn-floating btn-large waves-effect waves-light red add-link"><i class="material-icons">add</i></a>
            <div class="center-btn">
                <button type="submit" class="waves-effect waves-light btn-large" >保存</button>
            </div>
        </form>
    </div>
{% endblock %}