{% extends 'base.html' %}

{% block title %}Macy | ログイン{% endblock %}
{% block content %}
    <h3>ログインフォーム画面</h3>
    <div class="log-in">
        {% if form.errors %}
            <p>ユーザー名とパスワードが一致しません。　もう一度お試しください。</p>
        {% endif %}
        <form method="post">
            {{ form.non_field_errors }}
            {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    <p>{{ field.help_text }}</p>
                    <br/>
                    {{ field.errors }}

            {% endfor %}
            <div class="center-btn">
                <button type="submit" class="waves-effect waves-light btn-large" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            {% csrf_token %}
        </form>
        <div class="password_reset">
            <small>
                <a href="{% url 'password_reset' %}" class="text-muted">パスワードを忘れた場合</a>
            </small>
        </div>
        {% if user.is_authenticated %}
            <p>you're logged in</p>
        {% endif %}
    </div>
{% endblock %}