{% extends 'base.html' %}

{% block title %}Macy | 新規登録{% endblock %}
{% block content %}
    <h3>ユーザー登録</h3>
    <div class="sign-up">

        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    <p>{{ field.help_text }}</p>
                    <br/>
                    {{ field.errors }}
                {% endfor %}
            <div class="center-btn">
                <button type="submit" class="waves-effect waves-light btn-large" >アクティベートする</button>
            </div>
        </form>
    </div>

{% endblock %}