@charset "UTF-8";
/*-----------------------------------------------------------------------------
version:   1.0
date:      01/03/07
author:    Takumi
version history: [location of file]
@import url("typography.css");
 */
/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "M PLUS 1p", ‘ヒラギノ角ゴシック’, ‘メイリオ’, sans-serif;
  background: #eceff1;
  color: #8a8a8a;
  background-size: cover;
  text-decoration: none;
}

.brand-logo {
  font-family: 'Major Mono Display', sans-serif;
}

.logo {
  width: 5%;
  margin: .5%;
  vertical-align: top;
}

.menu p {
  padding: 0;
  display: inline-block;
  margin: 0 100px 0 0;
}

.home h1 {
  color: #646464;
}

.home .signup-btn {
  padding: 20%;
  text-align: center;
}
