/*-----------------------------------------------------------------------------
version:   1.0
date:      01/03/07
author:    Takumi
version history: [location of file]
@import url("typography.css");
 */


/* Remove padding and margin */
*
    {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:  "Bradley Hand", "Lucida Sans", Tahoma, Verdana, sans-serif;
    background:linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(135, 213, 226, 1) 21%, rgba(233, 233, 255, 1) 100%) no-repeat fixed;
    background-size: cover;
    text-decoration: none;

}
.bg-img{

}

.menu{
    background-color: rgba(109, 149, 176, 0.57);
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 7%;
}

.menu p{
    padding: 0;
    display: inline-block;
    margin: 0 100px 0 0;
}
.menu ul{
    list-style: none;
}
.menu li{
    display: inline-block;

}

.menu li a{
    text-decoration: none;
}

.home{
    padding: 10%;
}