@charset "UTF-8";
/*-----------------------------------------------------------------------------
version:   1.0
date:      01/03/07
author:    Takumi
version history: [location of file]
@import url("typography.css");
 */
/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "M PLUS 1p", ‘ヒラギノ角ゴシック’, ‘メイリオ’, sans-serif;
  background: #eceff1;
  color: #8a8a8a;
  background-size: cover;
  text-decoration: none;
}

.menu p {
  padding: 0;
  display: inline-block;
  margin: 0 100px 0 0;
}

.menu .brand-logo {
  font-family: 'Major Mono Display', sans-serif;
}

.menu .logo {
  width: 5%;
  margin: .5%;
  vertical-align: top;
}

.home h1 {
  color: #646464;
}

.home .slider .slides {
  background-color: #eceff1;
}

.home .slider .slides h3 {
  font-size: 4rem;
  line-height: 500%;
  font-weight: bolder;
  user-select: none;
}

.home .slider .slides li .caption {
  color: #2D3142;
  text-align: right;
  vertical-align: bottom;
}

.home .slider .slides img {
  filter: brightness(90%) blur(2px) grayscale(30%);
  clip-path: polygon(100% 0, 0 0, 0% 100%);
}

.home .demo {
  margin-top: 50px;
}

.home .demo .flex-box {
  display: flex;
  justify-content: space-around;
}

.home .demo .flex-box .card {
  width: 30%;
}

.home .demo .row {
  width: 30%;
}

.home .signup-btn {
  padding: 20%;
  text-align: center;
}

.home .signup-btn .btn-large {
  width: 100%;
  line-height: 100px;
  height: 100px;
  font-size: 30px;
}

.sign-up {
  position: absolute;
  top: 50%;
  /*親要素を起点に上から50%*/
  left: 50%;
  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%);
  /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.sign-up h1 {
  color: #646464;
}
