{% extends 'base.html' %}

{% load static %}

{% block title %}Macy | Home{% endblock %}

{% block content %}
    <div class="home">
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="card card--material">
          <div class="card-head">
            <img alt="slide1" src="{% static 'Macy/img/slideshow/slide-1.jpg' %}" />
            <div class="card_title">Macy Meiko</div>
            <div class="card-overlay"></div>
          </div>
          <div class="card_content">
            Macyで快適なソーシャルライフを
          </div>
        </div>
    </div>
{% endblock %}
<!-- <img alt="slide1" src="{% static 'Macy/img/slideshow/slide-1.jpg' %}" />-->