{% extends 'base.html' %}
{%load static%}
{% block title %}Macy | マイページ{% endblock %}
{% block content %}


        {% if user.is_active %}
            <div class="mypage page__formatter">
                <div class="card card--material">
                    <div class="card-head" {% if user.header %}style="background-image: url('{{ MEDIA_URL }}{{user.header}}')"{% endif %}>
                        <img alt="" class="profile-img"
                        {% if user.profile %}src='{{ MEDIA_URL }}{{user.profile}}'
                        {% else %} src="{% static 'Macy/img/avatar.png' %}" {% endif %}>
                        <div class="card_title"></div>
                        <div class="card-overlay"></div>
                    </div>
                    <div class="card_content">
                        {{ user.username }}
                    </div>
                </div>
                <div class="links slide">
                    <ul>
                        {% for links in user.links_set.all|dictsortreversed:"order_num" %}
                            {% with 'Macy/img/'|add:links.media_choice|add:'.png' as image_static %}
                            <li data-emergence="hidden">
                                <a target="_blank" href="{{ links.link }}">
                                    <img class="logo" alt="" src="{% static image_static %}"/>
                                    <p>{{ links.account_id }}</p>
                                </a>
                            </li>
                            {% endwith %}
                        {% endfor %}
                        <li><img alt="" class="qr" src="data:image/png;base64, {{ request.qr }}" /></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="activation page__formatter">
                <h1>Macyへようこそ！</h1>
                <p>あともう一息・・・</p><p>まずは下のボタンをクリックして</p><p>メイシーをアクティベートしましょう！</p>
                <div class="round-btn">
                    <a class="button" href="{% url 'signup' id=user.user_id%}">アクティベート</a>
                </div>
            </div>
        {% endif %}
{% endblock %}